<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h2>
        <a (click)="onCancel()" class="btn btn-link"><img src="../../assets/images/back.png" alt="Voltar"></a>
        <small>{{ company?.name }} <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></small> Criar novo tipo de área
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <sgt2-area-type-form [companyId]="company?.id" (save)="onSaveAreaType($event)" (cancel)="onCancel()"></sgt2-area-type-form>
    </div>
  </div>
</div>
