<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form novalidate>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Sobre</h4>
        </div>
        <div class="modal-body text-center">
          <img src="../../../assets/images/back-office-logo.png" class="logo" alt="SGT2 - SUPORTE">
          <p class="mt-20">Versão {{ appVersion }}</p>
          Um produto VisãoGeo © Todos os direitos reservados.
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->