<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a routerLink="/companies" class="navbar-brand logo-fgt2"></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/companies">Empresas</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a (click)="onAboutClick()" class="btn btn-link">Sobre</a></li>
        <li><a (click)="onLogoutClick()" class="btn btn-link"><span class="glyphicon glyphicon-log-out"></span></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<sgt2-about-modal #aboutModalComponent></sgt2-about-modal>
